
{% load static %}
<div class="header-list">
    <a href="{% url 'main' %}"><div class="logo">
        <h2 class="logo-h2">Historical</h2>
        <p class="logo-p">GAMES</p>
    </div></a>
    <div class="telefon"> <img src="/static/img/telefon.png" alt="" class="logo-telefon">
        <p class="number">+123 456 7890</p>
    </div>
    <div class="email-list"> <img src="/static/img/email.png" alt="" class="logo-telefon">
        <p class="email">info@example.com</p>
    </div>
    <div class="find">
        <table>
            <tr>
                <td class="inputsab">
                    <input type="sabmit" value="Search" class="find-sabmit"> </td>
                <td class="search">
                    <a href="#"><img src="/static/img/find.png" alt=""></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="list_log">
        {% if user.is_authenticated %}

            <li>
                <a href="{% url 'basket:view' %}" class="login_logout nickname">
                    {% if basket %}
                        {{ basket.0.total_cost|floatformat:0 }}$
                        {{ basket.0.total_quantity }}

                    {% endif %}

                </a>
            </li>
        {% endif%}
        <a href="{% url 'basket:view' %}" class="login_logout nickname">
            <img src="{% static 'img/shop.png' %}" alt="">
        </a>
        {% if user.is_authenticated %}
               {% if user.is_superuser %}
                <li>
                  <a href="{% url 'admin:users' %}" class="login_logout nickname">админка</a>
                </li>
               {% else %}
                     <li>
                   <div class="dropdown" style="margin-top: 0px;
    width: 100px;">
                       <a class="login_logout nickname" href="" data-toggle="dropdown">
                           {{ user.first_name|default:'Пользователь' }}
                           <span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu">
                           <li>
                               <a href="{% url 'auth:edit' %}">
                                   профиль
                               </a>
                           </li>
                           <li>
                               <a href="{% url 'ordersapp:orders_list' %}">
                                   заказы
                               </a>
                           </li>
                       </ul>
                   </div>
               </li>

              {% endif %}

        {% endif%}

        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'auth:logout' %}" class="login_logout">Logout</a>
        {% else %}
          <a href="{% url 'auth:login' %}" class="login_logout">Login</a>
        {% endif %}
        </li>
    </div>



</div>