<ul class="menu-list">
    <li><a href="{% url 'main' %}" class="menu-link catalog-text ">Home</a></li>
    <li><a href="#" class="menu-link catalog-text">About</a></li>
    <li><a href="#" class="menu-link catalog-text">Services</a></li>
    <li><a href="{% url 'products:index' %}" class="menu-link catalog-text activ-catalog">Gallery</a></li>
    <li><a href="#" class="menu-link catalog-text">News</a></li>
    <li><a href="#" class="menu-link catalog-text">Team</a></li>
    <li><a href="#" class="menu-link catalog-text">Contact Us</a></li>
</ul>