<div class="header-list">
    <a href="{% url 'main' %}"><div class="logo">
        <h2 class="logo-h2">Historical</h2>
        <p class="logo-p">GAMES</p>
    </div></a>
    <div class="telefon"> <img src="/static/img/telefon.png" alt="" class="logo-telefon">
        <p class="number">+123 456 7890</p>
    </div>
    <div class="email-list"> <img src="/static/img/email.png" alt="" class="logo-telefon">
        <p class="email">info@example.com</p>
    </div>
    <div class="find">
        <table>
            <tr>
                <td class="inputsab">
                    <input type="sabmit" value="Search" class="find-sabmit"> </td>
                <td class="search">
                    <a href="#"><img src="/static/img/find.png" alt=""></a>
                </td>
            </tr>
        </table>
    </div>
</div>