{% extends 'authapp/base.html' %}
{% load static %}

{% block title_title%}
<div class="h2 text-center head">
    Создание
</div>
{% endblock %}


{% block content %}

  <form class="form-horizontal" method="post" enctype="multipart/form-data">
     {% csrf_token %}
      {{product_form.as_p}}
      {{product_gallery.as_p}}


    <input class="form-control" type="submit" value="сохранить">

  </form>

  <button class="btn btn-round form-control last">
    <a href="{% url 'admin:categories' %}">
      к списку категорий
    </a>
  </button>
{% endblock %}