
{% extends 'mainapp/base.html' %}
{% load static %}
    {% block title %}
        <title>{{title|capfirst}}</title>
    {% endblock %}



{% block content%}

    <div calss="container">
        <div class="fon">
            <div class="header">
                {% include 'mainapp/includes/inc_header_list.html' %}
            </div>
            <div class="menu">
                {% include 'mainapp/includes/inc_menu.html' %}
            </div>
            <div class="content">
                <p class="one">Nunc eget nibh
                    <br><img src="{% static 'img/bord.png' %}" alt=""> </p>

                <p class="two">Morbi in nisl auctor</p>
            </div>
            <div class="mailing">
                <a href=""><img src="{% static 'img/circle.png' %}" alt="" class="circle facebook"></a>
                <a href=""><img src="{% static 'img/circle.png' %}" alt="" class="circle twitter"></a>
                <a href=""><img src="{% static 'img/circle.png' %}" alt="" class="circle rss"></a>
                <a href=""><img src="{% static 'img/circle.png' %}" alt="" class="circle vk"></a>
            </div>
        </div>
        <div class="about">
            <div class="about-text">
                <h2 class="about-h2">About Us!</h2>
                <p class="about-p"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    <br>
                    <br>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? </p>
            </div>
            <div class="about-img"> <img src="{% static 'img/about.jpg' %}" alt=""> </div>
        </div>
        <div class="services">
            <h2 class="header-services">Services</h2>
            <div class="row-services">
                <div class="block-services block-right">
                    <div class="circle-services circle-left vetka circle-activ-services"></div>
                    <div class="services-text text-left">
                        <h2 class="service-text-h2 circle-activ-h2">
                            Repreh Qui In Ea Voluptate
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
                <div class="block-services">
                    <div class="circle-services circle-right arrow"></div>
                    <div class="services-text text-right">
                        <h2 class="service-text-h2">
                            Voluptatibus Maiores Alias
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
            </div>
            <div class="row-services">
                <div class="block-services block-right">
                    <div class="circle-services circle-left dolar"></div>
                    <div class="services-text text-left">
                        <h2 class="service-text-h2">
                            Aut Perferendis Doloribus
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
                <div class="block-services">
                    <div class="circle-services circle-right home"></div>
                    <div class="services-text text-right">
                        <h2 class="service-text-h2">
                            Dut Aut Reiciendis Maiores
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
            </div>
            <div class="row-services">
                <div class="block-services block-right">
                    <div class="circle-services circle-left poll"></div>
                    <div class="services-text text-left">
                        <h2 class="service-text-h2">
                            Maiores Alias Consequatur
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
                <div class="block-services">
                    <div class="circle-services circle-right settings"></div>
                    <div class="services-text text-right">
                        <h2 class="service-text-h2">
                            Doloribus Volupta Maiores
                        </h2>
                        <p class="service-text-p">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery">
            <h2 class="gallery-h2">Our Gallery</h2>
            <div class="gallery-list">
                {% for game in games%}
                     <div class="gallery-game">
                        <div class="img-gallery-game">

                            <a href="{% url 'products:product' game.pk %}">
                                <img src="/media/{{ game.image }}" alt="" class="img_game_gallery">
                            </a>
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <a href="{% url 'basket:add' game.pk %}" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="testimonial">
            <div class="head-testimonial">
                <h2 class="head-testimonial-h2">
               Testimonial
           </h2> <img src="{% static 'img/zapyatay.png' %}" alt="" class="/static/img-zapytay"> </div>
            <div class="testimonial-list">
                <div class="left-button">
                    <button class="square-button">
                        <div class="square-left"></div>
                    </button>
                </div>
                <div class="text-testimonial">
                    <p class="testimonial-p">Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum. Curabitur ex dolor, condimentum vitae nunc vel, pulvinar semper justo. Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu viverra at, mattis et enim. Nam efficitur sem et lectus fringilla, at pharetra nulla luctus. Nunc cursus, augue ac ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque. Integer ipsum sem, consectetur a mollis ac, cursus eu ipsum.</p>
                    <p class="author-f"><span class="author">JOHN SMITH</span>- FOUNDER</p>
                </div>
                <div class="right-button">
                    <button class="square-button">
                        <div class="square-right"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="news">
            <h2 class="news-h2">
                News & Events
            </h2>
            <div class="news-center">
                <div class="latest">
                    <h2 class="latest-h2">Latest News</h2>
                    <div class="list-news">
                        <div class="calendar">
                            <h2 class="calendar-h2">
                             15
                         </h2>
                            <p class="calendar-p"> June
                                <br> 2016 </p>
                        </div>
                        <div class="calendar-text">
                            <h2 class="calendar-text-h2">
                            Fugiat Quo Voluptas
                           
                       </h2>
                            <p class="calendar-text-p"> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                    <div class="list-news">
                        <div class="calendar">
                            <h2 class="calendar-h2">
                             18
                         </h2>
                            <p class="calendar-p"> June
                                <br> 2016 </p>
                        </div>
                        <div class="calendar-text">
                            <h2 class="calendar-text-h2">
                            FugQui In Ea Voluptate
                           
                       </h2>
                            <p class="calendar-text-p">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                    <div class="list-news">
                        <div class="calendar">
                            <h2 class="calendar-h2">
                             20
                         </h2>
                            <p class="calendar-p"> June
                                <br> 2016 </p>
                        </div>
                        <div class="calendar-text">
                            <h2 class="calendar-text-h2">
                            Autem Vel Eum Iure
                           
                       </h2>
                            <p class="calendar-text-p">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                </div>
                <div class="featured">
                    <div class="nav-events">
                        <div class="list-nav">
                            <h2 class="nav-h2">Featured Events</h2> </div>
                        <div class="arrows"> <a href="#" class="bm">&lt;</a><a href="#" class="bm">&gt;</a> </div>
                    </div>
                    <div class="foto-list"> <img src="{% static 'img/g3.jpg' %}" class="img-foto" alt="">
                        <img src="{% static 'img/g7.jpg' %}" class="img-foto" alt=""> <img src="{% static 'img/g9.jpg' %}" class="img-foto" alt=""> </div>
                    <div class="dropdown">
                        <div class="dropdown-activ">
                            <div class="header-activ">
                                <h2 class="dropdown-h2"><a href="#" class="dropdown-a">-</a>&nbsp&nbsp&nbsp
                                Assumenda Est Cliche Reprehenderit
                            </h2> </div>
                            <div class="dropdown-grey">
                                <p2 class="dropdown-p"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p2>
                            </div>
                        </div>
                        <div class="dropdown-noactiv">
                            <h2 class="dropdown-h2"><a href="#" class="dropdown-a">+</a>&nbsp&nbsp&nbsp
                               Assumenda Est Cliche Reprehenderit </h2> </div>
                        <div class="dropdown-noactiv">
                            <h2 class="dropdown-h2"><a href="#" class="dropdown-a">+</a>&nbsp&nbsp&nbsp
                               Assumenda Est Cliche Reprehenderit </h2> </div>
                        <div class="dropdown-noactiv">
                            <h2 class="dropdown-h2"><a href="#" class="dropdown-a">+</a>&nbsp&nbsp&nbsp
                               Assumenda Est Cliche Reprehenderit </h2> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <h2 class="team-h2">Our Team</h2>
            <div class="team-person">
                <div class="person">
                    <div class="img-person"> <img src="{% static 'img/t1.png' %}" alt=""> </div>
                    <div class="text-person">
                        <h2 class="person-h2">Mary Jane</h2>
                        <p class="person-p">Vestibulum</p>
                    </div>
                    <div class="person-sub">
                        <a href="#">
                            <div class="person-fb"></div>
                        </a>
                        <a href="">
                            <div class="person-tw"></div>
                        </a>
                        <a href="">
                            <div class="person-rss"></div>
                        </a>
                        <a href="">
                            <div class="person-vk"></div>
                        </a>
                    </div>
                </div>
                <div class="person">
                    <div class="img-person"> <img src="{% static 'img/t2.png' %}" alt=""> </div>
                    <div class="text-person">
                        <h2 class="person-h2">Peter Parker</h2>
                        <p class="person-p">Vestibulum</p>
                    </div>
                    <div class="person-sub">
                        <a href="#">
                            <div class="person-fb"></div>
                        </a>
                        <a href="">
                            <div class="person-tw"></div>
                        </a>
                        <a href="">
                            <div class="person-rss"></div>
                        </a>
                        <a href="">
                            <div class="person-vk"></div>
                        </a>
                    </div>
                </div>
                <div class="person">
                    <div class="img-person"> <img src="{% static 'img/t3.png' %}" alt=""> </div>
                    <div class="text-person">
                        <h2 class="person-h2">John Watson</h2>
                        <p class="person-p">Vestibulum</p>
                    </div>
                    <div class="person-sub">
                        <a href="#">
                            <div class="person-fb"></div>
                        </a>
                        <a href="">
                            <div class="person-tw"></div>
                        </a>
                        <a href="">
                            <div class="person-rss"></div>
                        </a>
                        <a href="">
                            <div class="person-vk"></div>
                        </a>
                    </div>
                </div>
                <div class="person">
                    <div class="img-person"> <img src="{% static 'img/t4.png' %}" alt=""> </div>
                    <div class="text-person">
                        <h2 class="person-h2">Mary Jane</h2>
                        <p class="person-p">Vestibulum</p>
                    </div>
                    <div class="person-sub">
                        <a href="#">
                            <div class="person-fb"></div>
                        </a>
                        <a href="">
                            <div class="person-tw"></div>
                        </a>
                        <a href="">
                            <div class="person-rss"></div>
                        </a>
                        <a href="">
                            <div class="person-vk"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe">
            <h2 class="subscribe-h2">Subscribe with Us</h2>
            <div class="clik-sub">
                <input type="sabmit" class="sub-sabmit" placeholder="Email">
                <button type="button" class="button-sub">Subscribe</button>
            </div>
        </div>
        <div class="contact-main">
           <h2 class="contact-main-h2">
               Contact Us
           </h2>
            <div class="contact-list">
                <div class="text-contact">
                    <div class="text-cont">
                        <h2 class="contact-text-h">Get in touch with us</h2>
                        <p class="contact-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do, At vero eos et accusamus et iusto odio digs qui blanditiis <br><br> Leningradsky AVE 39, BLDG 79 MOSCOW 125167, Russia <br><br> Telephone : +00 111 222 3333<br><br> FAX : +1 888 888 4444 <br><br> Email : <span class="span-contact">mail@example.com</span></p>
                    </div>
                </div>
                <div class="input-contact">
                    <input type="sabmit" class="contact-name" placeholder="Name">
                    <input type="sabmit" class="contact-email" placeholder="Email">
                    <textarea class="contact-massege" wrap="hard" placeholder="Massege"></textarea>
                    <button type="button" class="contact-sub">SUBMIT</button>
                </div>
            </div>
            <h2 class="map-h2">
                Route Map
            </h2>
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab6b20beba89c2d645f5b61c2f2c49910c74224d5920b9e1a4890f0c534dbb490&amp;width=1168&amp;height=298&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>

        </div>

    </div>
{% endblock %}


