
{% extends "mainapp/base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}
    <title>{{title|capfirst}}</title>
{% endblock %}


<!--    <meta charset="UTF-8">-->
<!--    <title>Каталог</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> </head>-->

{% block content %}
    <div class="container-catalog">
        <div class="header catalog-header">
            {% include 'mainapp/includes/inc_header_list.html' %}
        </div>
        </div>
        <div class="menu catalog-menu">
            {% include 'mainapp/includes/inc_menu_catalogs.html' %}
        </div>
        <div class="menu catalog-menu">
                {% include 'mainapp/includes/inc_menu_gallery.html'%}
        </div>
        <div class="gallery gallery-catalog">
            <h2 class="gallery-h2 gallery-catalog-h2">{{pk_category.name}}{{u}}</h2>
                    <div class="paginator">
                          {% if products.has_previous %}

                                    <a href="{% url 'products:page' pk_category.pk products.previous_page_number%}">
                                  <
                                </a>
                              {% endif %}
                              <span class="current">
                                страница {{ products.number }} из
                                {{ products.paginator.num_pages }}
                              </span>
                              {% if products.has_next %}
                                <a href="{% url 'products:page' pk_category.pk products.next_page_number%}">
                                  >
                                </a>
                          {% endif %}
                     </div>

                      <form action="" method="get">
                     <input type="submit" value="10" id="page" name="count_product">
                    <input type="submit" value="20" id="page1" name="count_product">
                    <input type="submit" value="30" id="page2" name="count_product">
                    <input type="submit" value="40" id="page3" name="count_product">



                      </form>



            <div class="gallery-list gallery-list-catalog">
                {% for game in products%}
                    <div class="gallery-game">
                        <div class="img-gallery-game">

                            <a href="{% url 'products:product' game.pk %}">
                                <img src="{{game.image|media_folder_products}}" alt="" class="img_game_gallery">
                            </a>
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <a href="{% url 'basket:add' game.pk %}" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

{% endblock %}

