
{% extends "mainapp/base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}
    <title>{{title|capfirst}}</title>
{% endblock %}


{% block content %}
    <div class="container-catalog">
        <div class="header catalog-header">
            {% include 'mainapp/includes/inc_header_list.html' %}
        </div>
        </div>
        <div class="menu catalog-menu">
            {% include 'mainapp/includes/inc_menu_catalogs.html' %}
        </div>
        <div class="menu catalog-menu">
                {% include 'mainapp/includes/inc_menu_gallery.html'%}
        </div>
        <div class="gallery gallery-catalog">
            <h2 class="gallery-h2 gallery-catalog-h2">{{pk_category.name}}{{u}}</h2>



                    <div class="Page navigation example">
                        <ul class="pagination justify-content-center">
                          {% if products.has_previous %}

                                   <li class="page-item" style="font-size: 15px;"> <a class="page-link"  href="{% url 'products:page' pk_category.pk products.previous_page_number%}">
                                 <span aria-hidden="true">&laquo;</span>
                                </a></li>
                              {% endif %}
                              <span class="current page-item page-link" style="font-size: 15px;">
                                страница {{ products.number }} из
                                {{ products.paginator.num_pages }}
                              </span>
                              {% if products.has_next %}
                               <li class="page-item" style="font-size: 15px;"> <a class="page-link"  href="{% url 'products:page' pk_category.pk products.next_page_number%}">
                                  <span aria-hidden="true">&raquo;</span>
                                </a></li>
                          {% endif %}
                            </ul>
                     </div>

                      <form action="" method="get">
                     <input class="current page-item page-link" style="font-size: 15px; display: inline" type="submit" value="10" id="page" name="count_product">
                    <input class="current page-item page-link" style="font-size: 15px; display: inline" type="submit" value="20" id="page1" name="count_product">
                    <input class="current page-item page-link" style="font-size: 15px; display: inline" type="submit" value="30" id="page2" name="count_product">
                    <input class="current page-item page-link" style="font-size: 15px; display: inline" type="submit" value="40" id="page3" name="count_product">
                      </form>



            <div class="gallery-list gallery-list-catalog">
                {% for game in products%}
                    <div class="gallery-game">
                        <div class="img-gallery-game">

                            <a href="{% url 'products:product' game.pk %}">
                                <img src="{{game.image|media_folder_products}}" alt="" class="img_game_gallery">
                            </a>
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <a href="{% url 'basket:add' game.pk %}" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

{% endblock %}

