
{% extends "mainapp/base.html" %}
{% load static %}


{% block title %}
    <title>{{title|capfirst}}</title>
{% endblock %}


<!--    <meta charset="UTF-8">-->
<!--    <title>Каталог</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> </head>-->

{% block content %}
    <div class="container-catalog">
        <div class="header catalog-header">
            {% include 'mainapp/includes/inc_header_list.html' %}
        </div>
        </div>
        <div class="menu catalog-menu">
            {% include 'mainapp/includes/inc_menu_catalogs.html' %}
        </div>
        <div class="menu catalog-menu">

            {% include 'mainapp/includes/inc_menu_gallery.html'%}

        </div>
        <div class="gallery gallery-catalog">
            <h2 class="gallery-h2 gallery-catalog-h2">Our Gallery</h2>


            <div class="gallery-list gallery-list-catalog">
                {% for game in games%}
                    <div class="gallery-game">
                        <div class="img-gallery-game">

                            <a href="{% url 'products:product' game.pk %}">
                                <img src="/media/{{ game.image }}" alt="" class="img_game_gallery">
                            </a>
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <a href="{% url 'basket:add' game.pk %}" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="{% url 'products:category' 0 %}" class="catalog-a">
                <div class="new-game">
                    <p class="catalog-p">Show more games &gt;</p>
                </div>
            </a>
        </div>

        <div class="list-block">

            {% for hot in hot_image%}
                <div class="block">
                    <a href="{% url 'products:product' hot.0.name_gallery.pk %}">
                    <img src="/media/{{ hot.0.hot_image }}" alt="" class="hot_product">
                    </a>
                    <div class="content-block">
                        <p class="discont">discount</p>
                        <p class="discont-name">
                            {{hot.0.name_gallery.name}}
                        </p>
                        <p class="discont-price">${{hot.0.name_gallery.price}} </p>
                            <a href="{% url 'basket:add' hot.0.name_gallery.pk %}" class="discont-buy">
                                <p class="buy-buy buy-dis">Buy</p>
                            </a>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}

