
{% extends "mainapp/base.html" %}
{% load static %}





<!--    <meta charset="UTF-8">-->
<!--    <title>Каталог</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> </head>-->

{% block content %}
    <div class="container-catalog">
        <div class="header catalog-header">
            {% include 'mainapp/includes/inc_header_list.html' %}
        </div>
        </div>
        <div class="menu catalog-menu">
            <ul class="menu-list">
                <li><a href="{% url 'main' %}" class="menu-link catalog-text">Home</a></li>
                <li><a href="#" class="menu-link catalog-text">About</a></li>
                <li><a href="#" class="menu-link catalog-text">Services</a></li>
                <li><a href="{% url 'products:index' %}" class="menu-link catalog-text activ-catalog">Gallery</a></li>
                <li><a href="#" class="menu-link catalog-text">News</a></li>
                <li><a href="#" class="menu-link catalog-text">Team</a></li>
                <li><a href="#" class="menu-link catalog-text">Contact Us</a></li>
            </ul>
        </div>
        <div class="menu catalog-menu">
            <ul class="menu-list">
                {% for category in categories %}
                    <li><a href="{% url 'products:category' category.pk %}" class="menu-link catalog-text {% if request.resolver_match.pk == category.pk %}
                                                                                                activ-catalog
                                                                                           {% endif %} ">{{ category.name}}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="gallery gallery-catalog">
            <h2 class="gallery-h2 gallery-catalog-h2">Our Gallery</h2>

            <div class="gallery-list gallery-list-catalog">
                                {% for game in games%}
                    <div class="gallery-game">
                        <div class="img-gallery-game"><img src="/media/{{ game.image }}" alt="">
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <button type="button" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="gallery-list gallery-list-catalog">
                               {% for game in games%}
                    <div class="gallery-game">
                        <div class="img-gallery-game"><img src="/media/{{ game.image }}" alt="">
                            <h2 class="gallery-h2-game">{{game.name}}</h2>
                            <button type="button" class="buy-button">
                                <p class="buy-buy">Buy</p>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="" class="catalog-a">
                <div class="new-game">
                    <p class="catalog-p">Show more games &gt;</p>
                </div>
            </a>
        </div>
        <div class="list-block">
            <div class="block one-one">
                <div class="content-block">
                    <p class="discont">discount</p>
                    <p class="discont-name">CALL OF DUTY:
                        <br> Modern Warfare 3</p>
                    <p class="discont-price">$14.44 <span class="discont-price-old">/ $28.90</span></p>
                    <button type="button" class="discont-buy">
                        <p class="buy-buy buy-dis">Buy</p>
                    </button>
                </div>
            </div>
            <div class="block two-two">
                <div class="content-block">
                    <p class="discont">discount</p>
                    <p class="discont-name">MEDAL OF HONOR</p>
                    <p class="discont-price">$15.96<span class="discont-price-old">/ $29.99</span></p>
                    <button type="button" class="discont-buy">
                        <p class="buy-buy buy-dis">Buy</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

